.button {
  width: 100%;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 12px;
  font-size: 16px;

  &:hover {
    background-color: #005dc1;
  }

  &:disabled {
    background-color: #aaa;
    cursor: not-allowed;
  }
}
